*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1f5768;
    font-size: x-large;
}

body {
    background-color: #1f5768;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stage {
    background-color: #43a047;
    width: 80%;
    height: 80vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 60px;
    height: 60px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}